@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
    font-family: Grandstander;
}

body {
    background-color: azure;
}

div>h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#theBigCont {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    align-items: stretch;
}

.grid-item {
    padding: auto;
    border: 1px solid #ddd;
    text-align: center;
    align-self: stretch;
}

.canvas {
    width: 75vh;
    height: 75vh;
    border-style: solid;
    border-color: rgb(58, 54, 54);
    margin: auto;
}

.hover {
    background-color: crimson;
    font-size: large;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #6a788a;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

button:hover,
button:focus {
    background: #34485f;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.9);
}

.buttonHolder {
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.center {
    margin-top: 40px;
}


/* .square {
    width: 50px;
    height: 50px;
    border-color: rgb(95, 122, 173);
    border-width: thin;
    border-style: solid;
    text-align: center;
    position: relative;
    align-self: stretch;
}
*/